#logo {
    width: 100px; 
    display: block;
    margin: 0px auto;

}

#balken {

    border-bottom: 45px solid black;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    
}

h1
{
    color: red;
    text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
    font-size: 80px;
    text-align: center;
    margin-bottom: 10px;

}

#maps {
    margin:center;
    margin: 50px;
    
}

h2 {
    text-align: center;
}







