#logo {
    width: 8%; 
    display: block;
    margin: 0px auto;
}

#balken {

    border-bottom: 16px solid black;
    margin-top: 0%;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 5px 5px 5px rgb(255, 0, 0);  
}

h1
{
    color: red;
    text-shadow: 0px 5px 10px black, 0px 5px 10px black, 0px 5px 10px black;
    font-size: 620%;
    text-align: center;
    margin-bottom: 1%;
}

#maps {
    margin:center;
    margin-top: 1%;
    margin-left: 40%;
    margin-bottom: 3%;  
    width: 20%;
    margin-right: 40%;
    
}

h2 {
    text-align: center;
}
